.folder_setting {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
  width: 100%;

  color: #3a9640;
  font-weight: 600;

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 300px;

    .color_btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 80px;

      cursor: pointer;

      .color_picker {
        height: 40px;

        .color {
          margin-top: 5px;
          width: 25px;
          height: 25px;

          background: #ffca28;
          border-radius: 50%;
        }

        .picker {
          position: relative;
          top: -30px;
          right: -10px;

          width: 20px;
          height: 20px;
          background-image: url(../../images/icons.png);
          background-position: -910px -96px;
        }
      }
    }

    .rename_btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 80px;

      cursor: pointer;

      .rename_icon {
        width: 36px;
        height: 36px;

        background-image: url(../../images/icons.png);
        background-position: -102px -607px;
      }
    }

    .delete_btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 80px;

      cursor: pointer;

      .delete_icon {
        width: 37px;
        height: 37px;

        background-image: url(../../images/icons.png);
        background-position: -178px -604px;
      }
    }
  }
}
