.folder_container {
  display: flex;
  justify-content: center;

  .folder_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;

    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;

    .selected {
      background-color: #dddddd;
      border-radius: 10px;
    }

    .folder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 120px;
      margin-bottom: 20px;
      margin-right: 5px;
      padding: 10px 0;

      cursor: pointer;
    }

    .title {
      margin-top: -10px;
    }

    .add {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 100px;
      position: relative;

      background-image: url('../../images/icons.png');
      background-position: -113px -9px;
      background-size: 318px 225px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 509px) {
  .folder_list {
    width: 380px;
  }
}

@media screen and (min-width: 510px) {
  .folder_list {
    width: 500px;
  }
}
