.memo_more {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;

  color: white;
  font-weight: 600;

  .move_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 52px;
    margin-right: 20px;

    border-radius: 2px;
    background: #3a9640;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1),
      0px 5px 12px rgba(0, 0, 0, 0.22);
    cursor: pointer;

    .move_icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;

      background-image: url(../../images/icons.png);
      background-position: -123px -617px;
    }
  }

  .delete_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 52px;

    border-radius: 2px;
    background: #3a9640;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1),
      0px 5px 12px rgba(0, 0, 0, 0.22);

    cursor: pointer;

    .delete_icon {
      width: 24px;
      height: 24px;
      margin-right: 6px;

      background-image: url(../../images/icons.png);
      background-position: -95px -617px;
    }
  }
}
