.edit_container {
  width: 100%;
  height: 100%;

  background-color: #fff1a6;

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 63px;
    margin-top: -5px;
    padding: 17px 0 10px 10px;
    box-sizing: border-box;

    background-color: #eeeeee;

    div {
      margin: 5px 5px;
      cursor: pointer;
    }

    .bold {
      width: 23.5px;
      height: 25px;

      background-image: url(../../images/icons.png);
      background-position: -344px -128px;
    }

    .italic {
      width: 23.5px;
      height: 25px;

      background-image: url(../../images/icons.png);
      background-position: -346px -93px;
      opacity: 54%;
    }

    .underline {
      width: 23.5px;
      height: 25px;

      background-image: url(../../images/icons.png);
      background-position: -307px -49px;
      background-size: 420px 299px;
      opacity: 54%;
    }

    .removeline {
      width: 23.5px;
      height: 25px;

      background-image: url(../../images/icons.png);
      background-position: -509px -184px;
      background-size: 318px 265px;
    }

    .divider {
      width: 2px;
      height: 20px;

      background-image: url(../../images/icons.png);
      background-position: -350px -170px;

      cursor: none;
    }

    .align {
      width: 24px;
      height: 24px;

      background-image: url(../../images/icons.png);
      background-position: -286px -15px;
      background-size: 390px 300px;
    }

    .link {
      width: 27px;
      height: 20px;

      background-image: url(../../images/icons.png);
      background-position: -48px -468px;
      background-size: 383px 251px;
    }

    .image {
      width: 27px;
      height: 27px;

      background-image: url(../../images/icons.png);
      background-position: -284px -186px;
      background-size: 470px 326px;
    }

    .table {
      width: 23px;
      height: 23px;

      background-image: url(../../images/icons.png);
      background-position: -19px -308px;
      background-size: 448px 350px;
    }

    .logo {
      width: 25px;
      height: 25px;
      margin: 0px 10px;

      background-image: url(../../images/icons.png);
      background-position: -555px -5px;
      background-size: 195px 136px;
    }

    .folder {
      width: 25px;
      height: 25px;

      background-image: url(../../images/icons.png);
      background-position: -4px -5px;
      background-size: 81px 61px;
    }
  }

  .edit_area {
    height: calc(100% - 200px);
    margin: 0;
    padding: 20px;
    font-size: 17px;
    outline: none;
  }
}
