.edit_container {
  width: 100%;
  height: 100%;

  background-color: #FFF1A6;

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 10px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: -5px;
  
    width: 100%;
    
    background-color: #EEEEEE;
  
    div {
      margin: 5px 5px;
      cursor: pointer;
    }
  
    .bold {
      width: 13px;
      height: 15px;

      background-image: url(../../images/icons.png);
      background-position: -340px -122px;
    }
  
    .italic {
      width: 13px;
      height: 15px; 

      background-image: url(../../images/icons.png);
      background-position: -340px -87px;
      opacity: 54%;
    }
  
    .underline {
      width: 13px;
      height: 16px;

      background-image: url(../../images/icons.png);
      background-position: -300px -36px;
      background-size: 325px 240px;
      opacity: 54%;
    }
  
    .removeline {
      width: 16px;
      height: 16px;
      
      background-image: url(../../images/icons.png);
      background-position: -216px -164px;
      background-size: 285px 230px;
    }
  
    .divider {
      width: 2px;
      height: 20px;

      background-image: url(../../images/icons.png);
      background-position: -340px -157px;

      cursor: none;
    }
  
    .align {
      width: 15px;
      height: 15px;

      background-image: url(../../images/icons.png);
      background-position: -300px -8px;
      background-size: 325px 240px;
    }

    .link {
      width: 25px;
      height: 14px;
  
      background-image: url(../../images/icons.png);
      background-position: -46px -455px;
      background-size: 325px 240px;
    }

    .image {
      width: 19px;
      height: 19px;
    
      background-image: url(../../images/icons.png);
      background-position: -245px -138px;
      background-size: 325px 240px;
    }

    .table {
      width: 22px;
      height: 19px;
      
      background-image: url(../../images/icons.png);
      background-position: -10px -271px;
      background-size: 358px 300px;
    }

    .logo {
      width: 25px;
      height: 25px;

      background-image: url(../../images/icons.png);
      background-position: -68px -62px;
      background-size: 130px 110px;
    }
  
    .folder {
      width: 25px;
      height: 25px;

      background-image: url(../../images/icons.png);
      background-position: 0px -1px;
      background-size: 58px 50px;
    }
  }
  
  .edit_area {
    width: 100%;    
  }
}
