@mixin btn($width, $height, $posx, $posy) {
  width: $width;
  height: $height;

  margin: 0 3px;

  border: 0;
  outline: 0;
  cursor: pointer;

  background : {
    image: url(../../images/icons.png);
    position: $posx $posy;
    color: transparent;
  }
}

.edit_container {
  width: 100%;
  height: 100%;

  background-color: #fff1a6;

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 63px;
    margin-top: -5px;
    padding: 17px 0 10px 10px;
    box-sizing: border-box;

    background-color: #eeeeee;

    div {
      margin: 5px 5px;
      cursor: pointer;
    }

    .bold {
      @include btn(23.5px, 25px, -344px, -128px);
      opacity: 54%;
    }

    .italic {
      @include btn(23.5px, 25px, -346px, -93px);
      opacity: 54%;
    }

    .underline {
      @include btn(23.5px, 25px, -307px, -49px);
      background-size: 420px 299px;
      opacity: 54%;
    }

    .strike {
      @include btn(23.5px, 25px, -509px, -184px);
      background-size: 318px 265px;
      opacity: 54%;
    }

    .divider {
      @include btn(2px, 20px, -350px, -170px);
      margin-left: 5px;
      cursor: default;
    }

    .align {
      @include btn(24px, 24px, -286px, -15px);
      margin-right: 6px;

      &.center {
        background-size: 390px 300px;
      }
      &.left {
        background-size: 390px 300px;
      }
      &.right {
        background-size: 390px 300px;
      }
      &.justified {
        background-size: 390px 300px;
      }
    }

    .link {
      @include btn(27px, 20px, -48px, -468px);
      background-size: 383px 251px;
    }

    .image {
      @include btn(27px, 27px, -284px, -186px);
      background-size: 470px 326px;
    }

    .table {
      @include btn(23px, 23px, -19px, -308px);
      background-size: 448px 350px;
    }

    .logo {
      @include btn(25px, 25px, -555px, -5px);
      margin: 0px 10px;
      background-size: 195px 136px;
    }

    .folder {
      @include btn(25px, 25px, -4px, -5px);
      background-size: 81px 61px;
    }
  }

  .edit_area {
    height: calc(100% - 200px);
    margin: 0;
    padding: 20px;
    font-size: 20px;
    outline: none;
  }
}

.active {
  opacity: 100% !important;
}
