.folder_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 80px;
    
  .folder_header {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: #ffc928;
    border-radius: 10px 0px 0px 0px;

    &:after {
      position: absolute;
      top: 6.5px;
      left: 15px;
      width: 30px;
      height: 30px;
      transform: rotateZ(45deg);
      background-color: inherit;
      content:'';
    }
  }
    
  .folder_body {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: #ffc928;
    border-radius: 10px;
  }
}