.header {
  display: flex;
  justify-content: start;
  align-items: center;

  height: 97px;
  margin-bottom: 3px;
  padding: 0 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;

  position: sticky;
  top: 0;

  background: #fafafa;
}

.home_btn_div {
  flex: 1;

  .home_btn {
    width: 64px;
    height: 64px;

    background-image: url(../../images/icons.png);
    background-position: -204px -192px;
    cursor: pointer;
  }
}

.select_btn {
  width: 68px;
  height: 77px;

  background-image: url(../../images/icons.png);
  background-position: -389px -123px;
  cursor: pointer;
}
.select_btn_active {
  width: 68px;
  height: 77px;

  background-image: url(../../images/icons.png);
  background-position: -389px -202px;
  cursor: pointer;
}

.logout_btn {
  width: 68px;
  height: 77px;

  background-image: url(../../images/icons.png);
  background-position: -114px -192px;
  cursor: pointer;
}

.save_btn {
  width: 68px;
  height: 77px;

  background-image: url(../../images/icons.png);
  background-position: -320px -239px;
  cursor: pointer;
}

.back_btn {
  width: 68px;
  height: 77px;

  background-image: url(../../images/icons.png);
  background-position: -23px -192px;
  cursor: pointer;
}
